/*to-do list*/
.list {
    padding: 10px;
    
    .to-do {
        width: 100%;
        max-width: 540px;
        background: $white;
        margin: 100px auto 28px;
        padding: 40px 30px 70px;
    h2 {
        color: rgb(47, 50, 50);
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        }
    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: grey;
        border-radius: 10px;
        padding-left: 20px;
        margin-bottom: 25px;
        }
    }
}